asgiref==3.12.1
certifi==2026.7.22
charset-normalizer==3.5.1
Django==5.1.4
idna==3.19
pillow==12.3.0
requests==2.32.3
sqlparse==0.6.0
tzdata==2026.3
urllib3==2.7.0
whitenoise==6.9.0
dj-database-url
psycopg2-binary
